body {
    margin: 0;
    background-color: #303041;
}

.navbar {
    display: flex;
    background-color: #3D3A50;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
}

.navbar a {
    float: left;
    display: block;
    color: #F4FCFE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #0EA2F6;
    color: black;
    transition: 0.5s;
}